@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    width: 100vw;
    width: 100dvw;
  }

  html,
  body,
  body>div:first-child,
  div#__next,
  div#__next>div {
    height: 100%;
  }
}

@layer components {
  .page {
    @apply w-full h-full bg-blue-900 flex flex-col justify-center items-center;
  }

  .btn {
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: scale 0.1s;
  }

  .btn:hover {
    opacity: 0.8;
  }

  .btn:active {
    scale: 0.9;
  }
}